@import "../../global-style-variables.scss";

//Modifiers
$nav-background-dark: $secondary-color-dark;
$nav-background-light: $secondary-color-light;

.nav {
    &__container {
        position: relative;
    }
    
    &--light {
        background-color: $nav-background-light;
    }

    &--dark {
        background-color: $nav-background-dark;
    }
}