@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.thumbnail {
    z-index: 0;
    position: relative;
    overflow: hidden;
    flex: 1 1 calc(8px * 12);
    max-width: calc(8px * 22);
    margin: 16px 5px 22px 5px;
    border-radius: 6px;
    cursor: pointer;

    &:before {
        display: block;
        padding-top: 150%;
        content: "";
    }

    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        @include position(0);
        object-fit: cover;
    }

    &__imgOverlay {
        position: absolute;
        @include position(0);
    }

    &__content {
        pointer-events: none;
        position: absolute;
        @include position(86%, 0, -86%, 0);
    }

    &__details {
        background-color: rgba($color: #000000, $alpha: .75);
        padding: .4em .3em;
    }

    &__title {
        color: #e9e9e9;
        font-weight: normal;
        font-size: .95em;
        padding-bottom: 1em;
    }

    &__eps, &__air {
        color: #FFFFFF;
        font-size: .8em;
        padding: .2em 0;

    }

    &__score {
        color: #FFFFFF;
        font-size: .8em;
        position: absolute;
        bottom: 25%;
        background-color: rgba($color: #000000, $alpha: .75);
        right: 0;
        padding: .2em;
    }

    &__type {
        color: #FFFFFF;
        font-size: .8em;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: .75);
        padding: .1em .6em;
        border-radius: 2em;
        bottom: .4em;
        left: .3em
    }

    &__span {
        color: rgba($color: #FFFFFF, $alpha: .5);
    }

    &:hover {
        transform: scale(1.1);
        transition: ease-in 156ms;
        z-index: 1;

        .thumbnail__imgOverlay {
            background-color: rgba($color: #000000, $alpha: 0.4);
            transition: ease-in 80ms;
        }

        .thumbnail__content {
            @include position(0, 0, 0, 0);
            transition: 100ms ease-in;
        }
    }

    &--loading{
        background-color: rgba($color: #FFFFFF, $alpha: 0.03);
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .thumbnail__details {
        padding: .2em .3em;
    }
  }