@import "../../../global-style-variables.scss";

.navProfile {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;

    &__link {
        color: $secondary-font-color-dark;
        text-decoration: none;
        padding: 16px;
        font-size: .92em;
    }
}