.animeCarousell {
    display: inline-flex;
    flex-direction: column;
    margin: 12px 8px;
    border: solid;
    border-width: 0px 0px .2em 0px;
    border-image: linear-gradient(90deg, rgba($color: #FFF, $alpha: 0), rgba($color: #FFF, $alpha: .05), rgba($color: #FFF, $alpha: 0));
    border-image-slice: 1;

    &__heading {
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 1.1em;
        font-weight: 600;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        flex-wrap: wrap;
         :first-child { margin-left: 0 !important; }
         :last-child { margin-right: 0 !important; }
    }
}