.animeCarousell {
    display: inline-flex;
    flex-direction: column;
    margin: 12px 24px;
    border-bottom: .2vw solid;
    border-image: linear-gradient(90deg, rgba($color: #FFF, $alpha: 0), rgba($color: #FFF, $alpha: .05), rgba($color: #FFF, $alpha: 0));
    border-image-slice: 1;

    &__heading {
        text-transform: uppercase;
        letter-spacing: .2vw;
        font-size: 1.2em;
        font-weight: normal;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        flex-wrap: wrap;
    }
}