* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic",CenturyGothic, Geneva, AppleGothic, sans-serif;
}

html {    
    color: #FFF;
    -webkit-text-size-adjust: 100%;
}

.body {
    &--dark {
        background-color: #141414;
    }

    &--light {
        background-color: #EBEBEB;
    }
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerWrapper {
    width: 100%;
    max-width: 1630px;
}

::-webkit-scrollbar {
    width: .6vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba($color: #FFF, $alpha: .05);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba($color: #FFF, $alpha: .05);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color: #FFF, $alpha: .1);
  }