$primary-color-dark: #0E0E10; //background
$secondary-color-dark: #18181B; //banner and nav
$tertiary-color-dark: #3A3A3D; //buton colors
$primary-font-color-dark: #EFEFF1; //text primary
$secondary-font-color-dark: #DEDEE3; //text scondary

$primary-color-light: #F7F7F8;
$secondary-color-light: #FFFFFF;
$tertiary-color-light: #F2F2F2;
$primary-font-color-light: #0E0E10;
$secondary-font-color-light: #1F1F23;

$highlight-color: #9147FF;